[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
[project]
	description = OOPT PSE Repo
[access "refs/*"]
	owner = group TIP GNPy Maintainers
	owner = group user/tip-oopt
	editHashtags = group TIP GNPy Maintainers
	forgeAuthor = group TIP GNPy Maintainers
	removeReviewer = group TIP GNPy Maintainers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tip-oopt
	label-Verified = -1..+1 group user/tip-oopt
	push = group Registered Users
	push = group user/tip-oopt
	read = group user/tip-oopt
	rebase = group user/tip-oopt
	removeReviewer = group TIP GNPy Maintainers
	removeReviewer = group user/tip-oopt
	submit = group user/tip-oopt
	pushMerge = group TIP GNPy Maintainers
[access "refs/heads/*"]
	create = group TIP GNPy Maintainers
	create = group user/tip-oopt
	push = group TIP GNPy Maintainers
	push = +force group user/tip-oopt
	pushMerge = group TIP GNPy Maintainers
	pushMerge = group user/tip-oopt
	read = group TIP GNPy Maintainers
	read = group user/tip-oopt
	label-Code-Review = -2..+2 group TIP GNPy Maintainers
	label-Verified = -1..+1 group TIP GNPy Maintainers
	rebase = group TIP GNPy Maintainers
	submit = group TIP GNPy Maintainers
[access "refs/tags/*"]
	push = group user/tip-oopt
	push = +force group user/tip-oopt
	createSignedTag = group TIP GNPy Maintainers
	createTag = group TIP GNPy Maintainers
	delete = group TIP GNPy Maintainers
[receive]
	requireChangeId = true
[access "refs/meta/dashboards/*"]
	create = group TIP GNPy Maintainers
	push = group TIP GNPy Maintainers
[dashboard]
    default = refs/meta/dashboards/main:main
