[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
[project]
	description = OOPT PSE Repo
[access "refs/*"]
	owner = group TIP GNPy Maintainers
	owner = group user/tip-oopt
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tip-oopt
	label-Verified = -1..+1 group user/tip-oopt
	push = group user/tip-oopt
	read = group user/tip-oopt
	rebase = group user/tip-oopt
	removeReviewer = group user/tip-oopt
	submit = group user/tip-oopt
[access "refs/heads/*"]
	create = group user/tip-oopt
	push = +force group user/tip-oopt
	pushMerge = group user/tip-oopt
	read = group user/tip-oopt
[access "refs/tags/*"]
	push = group user/tip-oopt
	push = +force group user/tip-oopt
[receive]
	requireChangeId = true
